@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  color: #FFFFFF;
}

.logo_top {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart_link-box {
  display: flex;
  gap: 30px;
}
.cart_number {
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  color: #000000;
  max-width: 71px;
}
.cart_button-box {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart_button {
  width: 200px;
  height: 37px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020202;
  border: 1px solid #000000;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s;
}
.cart_button_form {
  align-self: center;
  width: 290px;
  -webkit-animation: heartbeat 1.5s steps(2, end) 2s infinite both;
          animation: heartbeat 1.5s steps(2, end) 2s infinite both;
}
.cart_button:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.cart_price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.cart_name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
.cart_name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart_item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart_left {
  display: flex;
  gap: 32px;
}
.cart_info {
  width: 276px;
}
.cart_form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
}
.cart_content {
  grid-column: span 8;
}
.cart_info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form {
  padding-top: 42px;
  padding-left: 27px;
  padding-right: 32px;
}
.form_box {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.form_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  font-family: "Poppins";
}
.form_item {
  outline: none;
  padding-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 1px solid #CACDD8;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: transparent;
}
.form_item::-moz-placeholder {
  color: black;
}
.form_item:-ms-input-placeholder {
  color: black;
}
.form_item::placeholder {
  color: black;
}
.form_result {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 23px;
  text-align: center;
  margin-bottom: 18px;
}/*# sourceMappingURL=_cart.css.map */
